
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import 'libs/bootstrap-reboot.min';


* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/titles';
@import 'blocks/promo/promo';
@import 'blocks/hamburger/hamburger';
@import 'blocks/offer/offer';
@import 'blocks/agency/agency';
@import 'blocks/tune/tune';
@import 'blocks/footer/footer';



@import 'blocks/promo/promo-media';
@import 'blocks/offer/offer-media';
@import 'blocks/agency/agency-media';
@import 'blocks/tune/tune-media';
@import 'blocks/footer/footer-media';