.hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 60px;
    right: 80px;
    position: fixed;
    z-index: 25;
    visibility: visible;
    
    &.deactive {
        left: 0;
        visibility: hidden;
        opacity: 1;
    }
    span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #FEC83D;
        margin-top: 8px;
    }
}

.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.9;
    z-index: 24;
    visibility: hidden;
    
    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    a{
        text-decoration: none;
        color: #FFFFFF;
        &:hover {
            color: #FEC83D;
        }
    }
    ul {
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        li {
            font-weight: 600;
            font-size: 29px;
            line-height: 35px;
            text-transform: capitalize;
        }
    }
    &__close {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 40px;
        right: 60px;
        width: 72px;
        height: 72px;
        background: #000000;
    }
}